:root{
    --cor-cabecalho: #111111;
    --cor-menu: #1a1a1a;
    --black:#000000;
    --cor-linha: #0d0d0d;
    --cor-letras: #ffffff;
    --laranja: #e65100;
    --font-principal: "Ubuntu";
    --font-artista: "Rubik Mono One";
}

.album{
    display: flex;
    flex-direction: column;
    padding: 1em;     
}

.album__container{
    display: flex;
    align-items: center;
    padding: 1em 9em;
}

/*maquina do tempo album*/

.lista__album{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    margin: 1em 5em;
}


